@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=League+Spartan:wght@700&family=Manrope:wght@800&family=Montserrat:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f4f6fa;
  font-family: "Rubik", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
